* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

/* === Nav start === */

.Navigation {
  display: flex;
  height: 9vh;
  background-color: lightcoral;
}

.mc-logo > img {
  height: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding-top: 2%;
}

.burger-menu {
  width: 3vw;
  height: 6vh;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1.5vh;
  margin-left: 70vw;
}

.bar {
  height: 0.8vh;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

.change {
}

.change .bar {
  background-color: black;
}

.change #bar1 {
  transform: translateY(33px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-15px) rotateZ(45deg);
}

.change-bg {
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
    margin-left: 60vw;
    width: 5vw;
  }

  .bar {
    margin-top: 5px;
  }
}

@media screen and (max-width: 425px) {
  .burger-menu {
    margin-left: 50vw;
    width: 8vw;
  }
}

@media screen and (max-width: 320px) {
  .burger-menu {
    margin-left: 35vw;
    width: 10vw;
  }
}

/* === Nav slut === */

/* = header section =  */

.sticky + .header-section {
  padding-top: 9vh;
}

.header-section > img {
  width: 100%;
}

.header-section {
  display: flex;
}

.header-overskrift {
  margin: auto;
  color: white;
  margin-left: -90%;
  font-size: 3vw;
  line-height: 5vw;
}

.header-overskrift > h5 {
  font-size: 1vw;
  margin-bottom: -2vw;
  margin-left: 0.2vw;
}

footer {
  height: 20vh;
  background-color: darkslategray;
}

/* === header section slut === */

/* === Image grid start === */

.img-grid {
  background-color: rgb(139, 100, 106);
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 5vw;
  grid-row-gap: 10vw;
}

.g-img {
  width: 100%;
  transition: 1s;
}

.blur {
  filter: blur(5px);
  transition: 1s;
}

/* 
.g-img:hover{
  width: 110%;
  transform: 1s;
  position: relative;
}
 */

.årstal {
  width: 100%;
  transition: 1s;
}

.årstal > h1 {
  position: relative;
  font-size: 4vw;
  margin-top: -12.5vw;
  text-align: center;
  color: lightpink;
}

.årstal:hover {
  width: 110%;
  transform: 1s;
}

.å-btn {
  position: relative;
  text-align: center;
  align-content: center;
  display: none;
  padding: 5px;
}

.årstal:hover .å-btn {
  display: block;
  margin: auto;
  background-color: lightblue;
  font-size: 2vw;
  border: solid 1px black;
  border-radius: 0.7rem;
  cursor: pointer;
}

.årstal:hover .blur {
  filter: blur(0px);
  transition: 1s;
}

.årstal:hover > h1 {

}

/* === Image grid slut === */

/* ===== MEDIA QUERIES =====  */
