* {
  margin: 0;
  padding: 0;
}

/* === Nav start === */

.Navigation {
  display: flex;
  height: 9vh;
  background-color: lightblue;
}

.mc-logo > img{
  height: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  padding-top: 2%;
}

.burger-menu{
  width: 3vw;
  height: 6vh;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top:1.5vh;
  margin-left: 70vw;
}

.bar{
  height: 0.8vh;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

.change {
  
}

.change .bar {
  background-color: black;
}

.change #bar1 {
  transform: translateY(33px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-15px) rotateZ(45deg);
}

.change-bg {

} 

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  
}

 @media screen and (max-width:768px) {

  .burger-menu{
    display: flex;
    margin-left: 60vw;
    width: 5vw;
  }

  .bar{
    margin-top: 5px;
    
  }
  
}


@media screen and (max-width:425px) {

  .burger-menu{
    margin-left: 35vw;
    width: 8vw;
  }
  
} 


@media screen and (max-width:320px) {

  .burger-menu{
    margin-left: 15vw;
    width: 10vw;
  }
  
} 


/* === Nav slut === */

/* = header section =  */

.sticky + .header-section{
  padding-top: 60px;
}


.header-section >img{
  width: 100%;
}



.header-section{
  display: flex;

}

.header-overskrift{
  margin: auto;
  color: white;
  margin-left: -65%;
  font-size: 4vw;
}



footer{
  height: 100vh;
  background-color: green;
}

/* === header section slut === */

/* === article text === */

.article-text{
  text-align: center;
}

.article-text>h1{
  font-size: 2.5vw;
}

.article-text>h3{
  font-size: 1vw;
}

/* === article text slut === */

/* === Image grid start === */

.img-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmmax(300px 1fr));

}

.img-grid>img{
  width: 100%;
}

/* === Image grid slut === */