*{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}


.header-overskrift{
    font-size: 7vw;
}


/* === img grid start ===  */
.img-grid{
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(5, 15vw);
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
}

.å-span{
    background-color: lightcoral;
    display: none;
    position: relative;
    font-size: 1.4vw;
    margin-top: -1.7vw;
}


.årstal:hover .å-span{
    display: block;
    margin-top: -1.7vw;

}   

.bi-arrow-right{
    font-size: 2rem;
    font-style: none;
}

a:link{
    color: none;
}

a:visited{
    color: black
}


.årstal:hover{
    width: 100%;
}

/* === img grid slut === */